body{
    background:white;
}
a{
    color:black;
    font-family:Courier 'Courier New', Courier, monospace;
    text-align: right;
}
h2{
    color: brown;
    font-family: Impact;
    text-align: center;
}h1{
    color: brown;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    text-align: center;
} 
